/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  
  background-color: dimgray;
  color: white; 
}

h1 {
  font-family: oswald;
  font-size: 35px
}

button {
  padding: 10px;
  border-radius: 12.5px;
}
#gameBtnArea > button {
  width:200px;
  height:200px;
  margin:2px;
  border-radius:50px
}
#btn1 {
    background: lightgreen;
}
#btn2 {
    background: lightblue;
}
#btn3 {
    background: pink;
}
#btn4 {
    background: lightyellow;
}

#btn1:active, #btn1.lit {
    background:lime;
}
#btn2:active, #btn2.lit {
    background:royalblue;
}
#btn3:active, #btn3.lit {
    background:indianred;
}
#btn4:active, #btn4.lit {
    background:yellow;
}

.slidecontainer {
  width: 20%; /* Width of the outside container */
}
.slider {
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: white; /* White background */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 2.5px;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: white; /* white background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 7.5px;
}

.hidden {
  display: none;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}